<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in to Trello</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css"
      integrity="sha512-Z/def5z5u2aR89OuzYcxmDJ0Bnd5V1cKqBEbvLOiUNWdg9PQeXVvXLI90SE4QOHGlfLqUnDNVAYyZi8UwUTmWQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="node_modules/font-awesome/css/font-awesome.min.css"
    />
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #0079BF;
            margin: 0;
            padding: 0;
            color: #fff;
        }
    </style>

  </head>
  <body>
    

    <div class=" mt-5">
      <div class="d-flex justify-content-center">
        <div class="col-md-6">
          <div class="card">
               <div>
      <a href="/"><img
        class="rounded mx-auto d-block mt-3 mb-3"
        src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8c/Trello_logo.svg/1024px-Trello_logo.svg.png"
        width="50%" 
        alt="logo"
      /></a>
      
    </div>
            <div class="card-body">
              <h3 class="card-title fw-bold text-center text-body-tertiary">Log in to Trello
              </h3>
              <p class="fs-4 mb-4 ">

                </p>

              <!-- <div
                class="alert alert-danger fade show visually-hidden"
                id="invalidCredentials"
                role="alert"
              >
                
              </div> -->

              <div
                class="alert alert-danger d-flex align-items-center justify-content-center visually-hidden"
                id="invalidCredentials"
                role="alert"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="5%"
                  height="5%"
                  fill="currentColor"
                  class="bi bi-exclamation-triangle-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                  />
                </svg>

                <div class="text-center">
                  &nbsp;Please check your credentials
                </div>
              </div>

              <!--! Floating form Beginning -->
              <form method="post"
               id="floatingForm"
              action="/user/login"
              ex novalidate>
                <div class="mb-3 form-floating">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Email"
                    pattern="[a-zA-Z0-9._]+@[a-zA-Z0-9]+\.[a-zA-Z]{2,}"
                    required
                  />
                  <label for="email" class="form-label">Email</label>

                  <div class="invalid-feedback">Invalid email.</div>
                  <div class="valid-feedback">Correct email.</div>
                </div>

                <div class="mb-3 form-floating">
                  <span class="position-absolute mt-3" style="margin-left: 87%;">
                    <a
                      class="link link-dark icon-link-hover-0 border-0"
                      type="button"
                      id="togglePassword"
                    >
                    <i class="fa fa-eye fa-lg" style="color: #666666;"></i>
                  </a>
                </span>
                  <input
                    type="password"
                    class="form-control mb-3"
                    id="password"
                    name="password"
                    placeholder="Password"
                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$"
                    required
                  />
                  <label for="password" class="form-label">Password</label>

                 
                <div class="mb-3">

                  <button 
                  type="submit" 
                  class="btn text-white col-12 p-3 fs-4"
                  id="loginBtn"
                  style="background-color: #36b37e; font-weight: 700"
                    onMouseOver="this.style.backgroundColor='#57d9a3';"
                    onMouseOut="this.style.backgroundColor='#36b37e';"
                  >Sign in</button>

                 
                </div>

                <button
                  class="btn btn-primary visually-hidden"
                  id="loginSpinner"
                  type="button"
                  disabled
                >
                  <span
                    class="spinner-border spinner-border-sm"
                    aria-hidden="true"
                  ></span>
                  <span role="status">Loading...</span>
                </button>
              </form>
              <p class="text-center">
              <a href="/signup">Sign up for an account </a>
              </p>
              <hr>
              <button class="btn btn-outline-secondary text-black rounded-pill col-12" onMouseOver="this.style.backgroundColor='#ebebeb';"
              onMouseOut="this.style.backgroundColor='#ffffff'; this.style.color='white';">
                <svg width="24px" viewBox="-0.5 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>Google-color</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Color-" transform="translate(-401.000000, -860.000000)"> <g id="Google" transform="translate(401.000000, 860.000000)"> <path d="M9.82727273,24 C9.82727273,22.4757333 10.0804318,21.0144 10.5322727,19.6437333 L2.62345455,13.6042667 C1.08206818,16.7338667 0.213636364,20.2602667 0.213636364,24 C0.213636364,27.7365333 1.081,31.2608 2.62025,34.3882667 L10.5247955,28.3370667 C10.0772273,26.9728 9.82727273,25.5168 9.82727273,24" id="Fill-1" fill="#FBBC05"> </path> <path d="M23.7136364,10.1333333 C27.025,10.1333333 30.0159091,11.3066667 32.3659091,13.2266667 L39.2022727,6.4 C35.0363636,2.77333333 29.6954545,0.533333333 23.7136364,0.533333333 C14.4268636,0.533333333 6.44540909,5.84426667 2.62345455,13.6042667 L10.5322727,19.6437333 C12.3545909,14.112 17.5491591,10.1333333 23.7136364,10.1333333" id="Fill-2" fill="#EB4335"> </path> <path d="M23.7136364,37.8666667 C17.5491591,37.8666667 12.3545909,33.888 10.5322727,28.3562667 L2.62345455,34.3946667 C6.44540909,42.1557333 14.4268636,47.4666667 23.7136364,47.4666667 C29.4455,47.4666667 34.9177955,45.4314667 39.0249545,41.6181333 L31.5177727,35.8144 C29.3995682,37.1488 26.7323182,37.8666667 23.7136364,37.8666667" id="Fill-3" fill="#34A853"> </path> <path d="M46.1454545,24 C46.1454545,22.6133333 45.9318182,21.12 45.6113636,19.7333333 L23.7136364,19.7333333 L23.7136364,28.8 L36.3181818,28.8 C35.6879545,31.8912 33.9724545,34.2677333 31.5177727,35.8144 L39.0249545,41.6181333 C43.3393409,37.6138667 46.1454545,31.6490667 46.1454545,24" id="Fill-4" fill="#4285F4"> </path> </g> </g> </g> </g></svg>
                <p class="d-inline pt-0 ms-1"></p>Continue with Google
              </button>

              
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      const form = document.getElementById("floatingForm");
      const formData = new FormData(form);
      console.log(formData);
      url = "/user/login";
      // Create a Fetch request and pass the form data as the body
      fetch(url, {
        method: "POST",
        body: formData,
      });
    </script>

    {{!-- <script>
      const form = document.getElementById("floatingForm");
      const emailInput = document.getElementById("email");
      const passwordInput = document.getElementById("password");
      const usersData = JSON.parse(localStorage.getItem("usersData")) || [];

      //   Login button spinner loading... +invalid credentials alert
      const loginButton = document.getElementById("loginBtn");
      const loginSpinner = document.getElementById("loginSpinner");
      const invalidCredentials = document.getElementById("invalidCredentials");

      const validateUser = (event) => {
        event.preventDefault();

        let validUser = false;

        usersData.forEach((user) => {
          if (
            emailInput.value === user.email &&
            passwordInput.value === user.password
          ) {
            validUser = true;// true and return after it hold no value, it's like a token that this user is a validated one.
            return; // Exit the loop since a valid user is found
          }
        });

        if (validUser) {
          invalidCredentials.classList.add("visually-hidden"); // hide email or pw error alert if it exists
          loginButton.classList.add("visually-hidden"); // hide login button
          loginSpinner.classList.remove("visually-hidden"); //show spinner

          setTimeout(() => {
            location.href = "home.html"; // Redirect after timeout
          }, 1000);
        } else {
          invalidCredentials.classList.remove("visually-hidden"); //show alert
          loginButton.classList.remove("visually-hidden"); //show Login button
          loginSpinner.classList.add("visually-hidden"); //hide spinner
          form.reset()
        }
      };
      form.addEventListener("submit", validateUser);
    </script> --}}

    <!--! Show/hide password -->
    {{!-- <script>
      document.addEventListener("DOMContentLoaded", function () {
        const togglePasswordButton = document.getElementById("togglePassword");
        const passwordInput = document.getElementById("password");
    
        togglePasswordButton.addEventListener("click", function () {
          if (passwordInput.type === "password") {
            passwordInput.type = "text";
            togglePasswordButton.innerHTML = '<i class="fa fa-eye-slash fa-lg" style="color: #666666;"></i>';
          } else {
            passwordInput.type = "password";
            togglePasswordButton.innerHTML = '<i class="fa fa-eye fa-lg" style="color: #666666;"></i>';
          }
        });
      });
      </script> --}}

  </body>
</html>
