<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trello Signup Page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css"
      integrity="sha512-Z/def5z5u2aR89OuzYcxmDJ0Bnd5V1cKqBEbvLOiUNWdg9PQeXVvXLI90SE4QOHGlfLqUnDNVAYyZi8UwUTmWQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <base href="/">
    <link
      rel="stylesheet"
      href="node_modules/font-awesome/css/font-awesome.min.css"
    />
    <style>
      html,
       body {
            font-family: Arial, sans-serif;
            background-color: #0079BF;
            margin: 0;
            padding: 0;
            color: #fff;
        }
    </style>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.bundle.min.js"
      integrity="sha512-ToL6UYWePxjhDQKNioSi4AyJ5KkRxY+F1+Fi7Jgh0Hp5Kk2/s8FD7zusJDdonfe5B00Qw+B8taXxF6CFLnqNCw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    
  </head>
  <body>
    
    <div class="mt-5">
      <div class="d-flex justify-content-center">
        <div class="col-md-5">
       
          <div class="card">
               <div>
      <a href="/"><img
        class="rounded mx-auto d-block mt-3 mb-3"
        src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8c/Trello_logo.svg/1024px-Trello_logo.svg.png"
        width="50%" 
        alt="logo"
      /></a>
      
    </div>
            <h4 class="card-title mt-4 fw-bold text-center text-body-tertiary">
              Sign up for your account
            </h4>
            <div class="card-body mt-3">
              <!--! Floating form Beginning -->
              <form
                method="post"
                action="/user/signUp"
                id="floatingForm"
                novalidate
              >
                <!--! First Name -->
                <div class="mb-3 form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    name="firstName"
                    placeholder="First Name"
                    pattern="^[A-Za-z]{2,}$"
                    required
                  />
                  <label for="firstName" class="form-label">First Name</label>
                  <div class="invalid-feedback">
                    First name should be at least 2 characters.
                  </div>
                  <div class="valid-feedback">Correct.</div>
                </div>

                <!--! Last Name -->
                <div class="mb-3 form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="lastName"
                    name="lastName"
                    placeholder="Last Name"
                    pattern="^[A-Za-z]{2,}$"
                    required
                  />
                  <label for="lastName" class="form-label">Last Name</label>

                  <div class="invalid-feedback">
                    Last name should be at least 2 characters.
                  </div>
                  <div class="valid-feedback">Correct.</div>
                </div>

                <!--! Email with validation -->
                <div class="mb-3 form-floating">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Email"
                    pattern="[a-zA-Z0-9._]+@[a-zA-Z0-9]+\.[a-zA-Z]{2,}"
                    required
                  />
                  <label for="email" class="form-label">Email</label>

                  <div class="invalid-feedback">Invalid email.</div>
                  <div class="valid-feedback">Correct email.</div>
                </div>

                <!--! Password with validation -->
                <div class="mb-3 form-floating">
                  <span class="position-absolute mt-3" style="margin-left: 87%">
                    <a
                      class="link link-dark icon-link-hover-0 border-0"
                      type="button"
                      id="togglePassword"
                    >
                      <i class="fa fa-eye fa-lg" style="color: #666666"></i>
                    </a>
                  </span>

                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Password"
                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$"
                    required
                  />
                  <label for="password" class="form-label">Password</label>

                  <div class="invalid-feedback">
                    Password should include: <br />
                    *One Uppercase letter <br />
                    *One lowercase letter <br />
                    *minimum of 8 characters long
                  </div>
                  <div class="valid-feedback">Correct password</div>
                </div>

                <!--! Confirm password with validation -->
                <div class="mb-3 form-floating">
                  <input
                    type="password"
                    class="form-control"
                    id="confirmPassword"
                    name="confirmPassword"
                    placeholder="Confirm Password"
                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$"
                    required
                  />
                  <label for="confirmPassword" class="form-label"
                    >Confirm Password</label
                  >

                  <div class="invalid-feedback">
                    Please confirm your password.
                  </div>
                </div>
                <div class="mb-3">
                  <button
                    type="submit"
                    class="btn text-white col-12"
                    style="background-color: #36b37e; font-weight: 700"
                    onMouseOver="this.style.backgroundColor='#57d9a3';"
                    onMouseOut="this.style.backgroundColor='#36b37e';"
                  >
                    Sign Up
                  </button>
                </div>
              </form>
              <p class="text-center">
                Already have an account? <a href="/login"> Log In</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const form = document.getElementById("floatingForm");
      const formData = new FormData(form);
      console.log(formData);
      url = "/user/signUp";
      // Create a Fetch request and pass the form data as the body
      fetch(url, {
        method: "POST",
        body: formData,
      });
    </script>

    <!-- <script>
      //document.addEventListener("DOMContentLoaded", function () {
      const form = document.getElementById("floatingForm");
      const passwordInput = document.getElementById("password");
      const confirmPasswordInput = document.getElementById("confirmPassword");
      const emailInput = document.getElementById("email");
      const firstNameInput = document.getElementById("firstName");
      const lastNameInput = document.getElementById("lastName");

      form.addEventListener("submit", function (event) {
        event.preventDefault();

        // Validate other fields...

        if (form.checkValidity() === false) {
          event.stopPropagation();
        } else {

          // Retrieve existing user data from local storage or initialize an empty array
          const existingUsersData =
            JSON.parse(localStorage.getItem("usersData")) || [];

          // Check if the email is already registered
          const isEmailRegistered = existingUsersData.some(
            (user) => user.email === emailInput.value
          );

          if (isEmailRegistered) {
            alert("This email is already registered.");
            return; // Stop further processing
          }

          // Create a new user data object
          const newUser = {
            email: emailInput.value,
            password: passwordInput.value,
            firstName: firstNameInput.value,
            lastName: lastNameInput.value,
          };

          // Add the new user data to the existing data array
          existingUsersData.push(newUser);

          // Save the updated array back to local storage
          localStorage.setItem("usersData", JSON.stringify(existingUsersData));

          form.submit(); // Submit the form if all fields are valid
          //location.href = "login.html";
        }

        form.classList.add("was-validated");
      });

      //Confirm password field
      confirmPasswordInput.addEventListener("input", function () {
        if (passwordInput.value === confirmPasswordInput.value) {
          confirmPasswordInput.setCustomValidity("");
        } else {
          confirmPasswordInput.setCustomValidity("Passwords do not match");
        }
      });
      // });
    </script> -->

    <!--! Show/hide password -->
    {{!-- <script>
      document.addEventListener("DOMContentLoaded", function () {
        const togglePasswordButton = document.getElementById("togglePassword");
        const passwordInput = document.getElementById("password");

        togglePasswordButton.addEventListener("click", function () {
          if (passwordInput.type === "password") {
            passwordInput.type = "text";
            togglePasswordButton.innerHTML =
              '<i class="fa fa-eye-slash fa-lg" style="color: #666666;"></i>';
          } else {
            passwordInput.type = "password";
            togglePasswordButton.innerHTML =
              '<i class="fa fa-eye fa-lg" style="color: #666666;"></i>';
          }
        });
      });
    </script> --}}

  </body>
</html>
